.title{
    border-radius: 10px;
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color:blanchedalmond;
    border: solid black 1px;
  }
  input[type="button"]
  { 
    background-color:blanchedalmond;
    color: black;
    border-color:blanchedalmond;
    width:100%;
  }
  input[type="text"]
  { 
    text-align: right;
    background-color:white;
    border-color: black ;
    width:100%
  }
